<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>play_ground
    </title>
</head>

<body>
    <h1>Welcome to my play gound!🐱‍🏍😶‍🌫️😶‍🌫️😶‍🌫️</h1>
    <div class="container">
        {%for i in range(number)%}
        <div class="box" style="background-color: {{color}};">
        </div>
        {%endfor%}

</body>

</html>