body{
    
}
.background_image{
  margin: 0;
    
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(3px);
}
.about-text p {
  font-size: 18px;
}
.about-text p mark {
  font-weight: 600;
}
.about-text .btn-bar {
  padding-top: 8px;
}
.about-text .btn-bar a {
  min-width: 150px;
  text-align: center;
  margin-right: 10px;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #3a3973;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

.counter-section {
  padding: 40px 20px;
}
.counter-section .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.counter-section .count {
  font-weight: 700;
  color: #744c53;
  margin: 0 0 10px;
}
.counter-section p {
  font-weight: 500;
  margin: 0;
  color: #e0cbce;
}
.theme-color {
    color:#744c53;
}

.section {
    padding: 100px 0;
    position: relative;
}

.px-btn {
    padding: 0 20px;
    line-height: 42px;
    border: 2px;
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.my_img {
    width: 350px;
}

.header-tit{
    text-align: center;
    margin-bottom: 50px;
    font-family: Aamonoline;
    font-size: 5em;
    color: white;
}
.text-blanc {
  color: white;
}

.next-btn {
  float: right;
  padding: 10px;
  margin-right: 10px;
  width: 150px;
  border-radius: 20px;
  margin-top: 680px;

}

.next-btn:hover {
  background-color:rgb(49, 49, 252);
  color: white;
  border: none;
}
